*{
    cursor: url(../cursor/Unavailable.cur),pointer;
}
body {
    scroll-behavior: smooth;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url(../img/background.png);
    background-size: cover;
}
::-webkit-scrollbar {
    display: none;
}


/* game viewport */
#game {

    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div:hover {
    cursor: url(../cursor/Unavailable.cur),pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
#menu-fram {
    background-color: #F6F6F6;
    height: 679.52px;
    width: 587px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    
}
#menu-fram input {
    font-family: 'Luckiest Guy', cursive;
    color: #FFF;
    background-color: #7793FE;
    border: 3px #555555 solid;
    border-radius: 20px;
    width: 455.61px;
    height: 71.53px;
    margin-bottom: 27px;
    text-align: center;
    font-size: 40PX;
}
#menu-fram input:hover {
    cursor: url(../cursor/Link\ Select.cur),pointer;
    transition: .33s;
    
    background-color: #5D74C9;
}

#menu-fram img {
    position: absolute;
    top: 13%;
}

/* clouds backgroun */

#clouds img {
    width: 314px;
    position: absolute;
}
#cloud-1 {
    right: 10%;
    top: 10%;
}
#cloud-2 {
    z-index: 4;
    left: 20%;
    top: 20%;
}
#cloud-3 {
    right: 25%;
    top: 35%;
    z-index: 2;
}
#cloud-4 {
bottom: 25%;
left: 10%;
}
#cloud-5 {
    bottom: 8%;
    right: 21%;
    z-index: 4;
}
/* END */